.icon {
    display: block;
    width: 280px;
    height: 400px;
    background-image: url("image.png");

}

.i-html {
    background-position: 0 0;
}

.i-css {
    background-position: -290px 0;
}

.i-js {
    background-position: -580px 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
	gap: 50px;
}

li {
	display: inline-block;
    background-color: #F7F7F7;
    border: solid grey;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}
